<hrcn-wizard [valideerStappen]="true" [controleEnAkkoordUitklapbaar]="true">
    <hrcn-wizard-stap [titel]="'Reintegratie datums'">
        <form #form="ngForm">    
            <mat-form-field>
                <mat-label>Startdatum</mat-label>
                <input matInput [matDatepicker]="pickerStartdatum" required name="startdatum" [(ngModel)]="reintegratie.startdatum" [min]="mindate">
                <mat-datepicker-toggle matSuffix [for]="pickerStartdatum"></mat-datepicker-toggle>
                <mat-datepicker #pickerStartdatum></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Einddatum</mat-label>
                <input matInput [matDatepicker]="pickerEinddatum" name="einddatum" [(ngModel)]="reintegratie.einddatum">
                <mat-datepicker-toggle matSuffix [for]="pickerEinddatum"></mat-datepicker-toggle>
                <mat-datepicker #pickerEinddatum></mat-datepicker>
            </mat-form-field>

            <mat-checkbox [(ngModel)]="reintegratie.werkgeverWerktMeeAanSpoor1" name="werkgeverWerktMeeAanSpoor1">Werkgever werkt mee aan spoor 1</mat-checkbox>
        </form>
    </hrcn-wizard-stap>

    <hrcn-wizard-stap [titel]="'Reintegratie opmerking plaatsen'">
        <form #form="ngForm">    
            <mat-checkbox [(ngModel)]="reintegratie.opmerkingPlaatsen" name="opmerkingPlaatsen">Opmerking plaatsen</mat-checkbox>
        </form>
    </hrcn-wizard-stap>


    <hrcn-wizard-stap [titel]="'Reintegratie opmerking'" [overslaan]="!reintegratie.opmerkingPlaatsen">
        <form #form="ngForm">
            <mat-form-field>
                <mat-label>Opmerking</mat-label>
                <textarea matInput placeholder="Opmerking voor reintegratie" name="opmerking" [(ngModel)]="reintegratie.opmerking" required></textarea>
            </mat-form-field>
        </form>
    </hrcn-wizard-stap>
</hrcn-wizard>