#taak-infoblok {
    padding: 10px 20px 0;
    h3 {
        color: #673ab7;
        font-size: 22px;
        margin-bottom: 5px;
    }
}

mat-card, mat-expansion-panel {
    margin: 10px 0;
}

.button-container {
    margin-top: 10px;
}

mat-card-title, mat-panel-title {
    color: #673ab7;
    font-size: 20px;
    font-weight: 500;
}

mat-card-title {
    margin-left: -16px;
}

.mat-card-header-text {
    margin-top: 100px;
}

.step-content {
    margin: 10px 0;
}