

<div *ngIf="taak" id="taak-infoblok">
  <h3>{{TaakType[taak.type] | camelcasetospace}}</h3>
  <p>{{taak.taakomschrijving}}</p>
</div>

<mat-horizontal-stepper [linear]="valideerStappen">
  <ng-container *ngFor="let stap of stappen; first as isFirst;">
    <mat-step *ngIf="!stap.overslaan" [stepControl]="stap.form">
      <ng-template matStepLabel>{{stap.titel}}</ng-template>
      <div class="step-content">
        <ng-container *ngTemplateOutlet="stap.directive?.templateRef"></ng-container>    
      </div>
      <div class="button-container justify-content-between d-flex">
        <button mat-raised-button matStepperPrevious *ngIf="!isFirst">Vorige</button>
        <button mat-raised-button color="warn" (click)="stopTaak()">Stoppen</button>
        <button mat-raised-button color="primary" matStepperNext [disabled]="valideerStappen && !stap.form?.valid">Volgende</button>
      </div>
    </mat-step>
  </ng-container>


  <mat-step>   
    <ng-template matStepLabel>Controle en akkoord</ng-template>
    <div class="step-content">
      <ng-container *ngIf="!controleEnAkkoordUitklapbaar">
        <mat-card *ngFor="let stap of stappen;">
          <mat-card-header>
            <mat-card-title>{{stap.titel}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <hrcn-wizard-stap-readonly [form]="stap.form.value"></hrcn-wizard-stap-readonly>
          </mat-card-content>
        </mat-card>
      </ng-container>

      <ng-container *ngIf="controleEnAkkoordUitklapbaar">   
        <mat-accordion multi="true">
          <mat-expansion-panel *ngFor="let stap of stappen;" expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{stap.titel}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <hrcn-wizard-stap-readonly [form]="stap.form.value"></hrcn-wizard-stap-readonly>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container> 
    </div>

    <div class="button-container justify-content-between d-flex">
      <button mat-raised-button matStepperPrevious>Vorige</button>
      <button mat-raised-button color="warn" (click)="stopTaak()">Stoppen</button>
      <button mat-raised-button color="accent">Afronden</button>
    </div>  
  </mat-step>
</mat-horizontal-stepper>